body {
    font-family: 'Roboto', sans-serif;
    margin: auto;
}

header{
    padding: 30px;
    font-size: 30px;
    background-color: #db7093;
    text-align: center;
}

#gambar{
    padding: 20px;
    float: left; 
    border: 2px solid black;
}

#profile{
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    width: 30%;
}

th{
    border: 1px solid black;
    padding: auto;
}

img{
    width: 200px;
}

p{
    text-align: left;
    margin: 8px;
    font-size: 16px;
}

h2{
    font-weight: bold;
    font-size: 25px;
}

#bio{
    padding-left: 20px;
    padding-bottom: 20px;
    width: 50%;
}

section{
    background-color: blanchedalmond;
    padding: 20px;
}

footer{
    background-color: chocolate;
    color: white;
    text-align: center;
    padding: 10px;
}

footer > p {
    text-align: center;
    font-weight: bold;
}


@media (max-width:923px) {
    
    #gambar{
        padding: 20px;
        border: 2px solid black;  
        width: 30%;
    }


    #profile{
        display: flex;
        flex-direction: column;
        border: 2px solid black;
        width: 80%;
    }

    #profile-github{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    img{
        width: 100%;
    }
}