body {
    font-family: 'Roboto', sans-serif;
    margin: auto;
}

#countries {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-left: 10px;
    padding-right: 10px;
    background-color: pink;
}

#flag {
    padding-top: 30px;
    padding-bottom: 30px;
}
#flag img {
    width: 150px;
    height: 100px;
    background-color: #fffcf6;
}

#flag span {
    justify-content: center;
    display: flex;
}

 
header {
background-color: #f4edc2;
text-align: center;    
padding-top: 30px;
padding-bottom: 30px;
}

footer {
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: bold;
    font-size: 14px;
    text-align: center;
    background-color: #f6cbde;
}